@{
    ViewData["Title"] = "SalonCruella Ana Sayfa";
}

<div class="container">
    <div class="text-center mt-5">
        <h1 class="display-4">SalonCruella'ya Hoş Geldiniz!</h1>
        <p class="lead mt-3">Güzellik ve bakım hizmetlerinde mükemmelliği deneyimleyin.</p>
        <!-- URL Helper ile Admin Paneline Yönlendirme -->
        <a class="btn btn-primary btn-lg mt-4" asp-controller="Admin" asp-action="Index">Admin Paneline Git</a>
    </div>
</div>
